*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Segoe UI', sans-serif;
color:white;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background-image:url('https://img.freepik.com/vetores-gratis/papel-de-parede-de-perspectiva-de-linha-de-sintetizador-retro-da-moda-com-efeito-de-fumaca_1017-43048.jpg?semt=ais_hybrid&w=740&q=80');
background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;
}

body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.65);
z-index:-1;
}

.container{
background:rgba(0,0,0,0.55);
padding:40px;
border-radius:15px;
width:90%;
max-width:700px;

backdrop-filter:blur(6px);

box-shadow:0 0 30px rgba(0,0,0,0.6);
animation:fadeIn 1s ease;
}

h1{
margin-bottom:15px;
color:#00e5ff;
}

h3{
margin-top:20px;
margin-bottom:10px;
color:#00e5ff;
}

p{
margin-bottom:20px;
line-height:1.6;
}

i{
margin-right:8px;
color:#ffffff;
}

.botao{
display:inline-block;
background:linear-gradient(45deg,#00e5ff,#00bcd4);
padding:14px 25px;
border-radius:8px;
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.botao:hover{
transform:scale(1.05);
box-shadow:0 0 15px #00e5ff;
}

form{
margin-top:20px;
text-align:left;
}

input[type="text"]{
width:100%;
padding:10px;
border:none;
border-radius:6px;
margin-top:5px;
margin-bottom:20px;
}

input[type="radio"]{
margin-right:8px;
margin-top:8px;
}

button{
margin-top:25px;
width:100%;
background:linear-gradient(45deg,#00e5ff,#00bcd4);
border:none;
padding:14px;
border-radius:8px;
font-size:16px;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.03);
box-shadow:0 0 10px #00e5ff;
}

.perfil{
color:#00e5ff;
margin:20px 0;
font-size:28px;
}

.descricao{
margin-top:20px;
line-height:1.7;
}

img{
margin-top:20px;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,0.6);
max-width:100%;
}

.cookie{
color:#7df9ff;
margin-bottom:15px;
}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@media(max-width:600px){

.container{
padding:25px;
}

h1{
font-size:24px;
}

}